.player {
    background-color: orange;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    position: fixed;
    bottom: 0;
    padding: 16px;
}

.nudge{
    display: flex;
    gap: 8px;
    width: 50%;
    align-items: center;
}

.signup{
    height: fit-content;
    padding: 2px;
}

.audio_player{
    display: flex;
    gap: 8px;
    align-items: center;
}